@font-face {
  font-family: "itim";
  src: url("/font/Itim-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  font-family: "Itim";
}

:root {
  --left: 2px;
  --first-color: #fff;
  --second-color: #2b2b2b;
  --third-color: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  --indicator-shadow: 0 8px 10px rgba(0, 0, 0, 0.1), inset 0 2px 2px rgba(255, 255, 255, 1), inset 0 -2px 2px rgba(255, 255, 255, 1);
  --bg: #fff;
  --bx-shadow: inset 0 2px 25px rgba(0, 0, 0, 0.1), inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}

.dark-theme {
  --left: 31px;
  --res-left: 29px;
  --first-color: #2b2b2b;
  --second-color: #fff;
  --third-color: linear-gradient(to bottom, #444, #222);
  --indicator-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25), inset 1px 1px 3px rgba(255, 255, 255, 0.25), inset -1px -1px 2px rgba(0, 0, 0, 0.5);
  --bg: #222;
  --bx-shadow: inset 0 2px 25px rgba(0, 0, 0, 0.1), inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}

#icon {
  width: 64px;
  height: 32px;
  position: relative;
  background: var(--bg);
  padding: 2px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: var(--bx-shadow);
}

.indicator {
  width: 23px;
  height: 23px;
  cursor: pointer;
  display: flex;
  position: relative;
  margin-left: var(--left);
  padding: 4px;
  background: var(--third-color);
  border-radius: 50%;
  box-shadow: var(--indicator-shadow);
  transition: 0.25s;
}

body {
  background-color: var(--first-color);
  transition: 0.25s;
}

.head {
  color: var(--first-color);
  width: 390px;
  height: 36px;
  padding: 5px 10px 5px 10px;
  background: var(--second-color);
  border-radius: 0px 0px 200px 0px;
}

.head h2 {
  font-size: 22px;
  font-weight: 200;
  margin-left: 80px;
  margin-top: -32px;
  position: relative;
}

.head a {
  font-weight: bold;
  text-decoration: none;
  color: var(--first-color);
  transition: 0.25s;
}

.head a:hover {
  text-shadow: 3px 3px 3px #666666;
}

.title {
  color: var(--second-color);
  text-align: center;
  font-size: 45px;
}

.title .t1 {
  color: #09c372;
}

.title .t2 {
  color: #498afb;
}

.title .t3 {
  color: red;
}

.display {
  color: var(--second-color);
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
}

.hide {
  display: none;
}

.player {
  color: var(--second-color);
  font-size: 50px;
}

.o {
  color: #498afb;
  background: none;
  border: none;
  font-size: 50px;
  cursor: pointer;
  transition: 0.25s;
}

.o:hover {
  color: #00286e;
}

.x {
  color: #09c372;
  background: none;
  border: none;
  font-size: 50px;
  cursor: pointer;
  transition: 0.25s;
}

.x:hover {
  color: #007241;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 310px;
}

.tile {
  border: 1px solid var(--second-color);
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  cursor: pointer;
}

.playerX {
  color: #09c372;
}

.playerO {
  color: #498afb;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.controls button {
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 8px;
  font-size: 25px;
  cursor: pointer;
  background-color: red;
  border: 1px solid red;
  transition: 0.25s;
}

.controls button:hover {
  background-color: #fff;
  color: red;
}

/* responsive */
@media (max-width: 992px) {
  .head {
    width: 265px;
    padding-bottom: 8px;
  }

  .head h2 {
    font-size: 19px;
    font-weight: 200;
    position: relative;
    margin-left: 70px;
    margin-top: -39px;
  }

  .title {
    font-size: 35px;
    margin-top: 8px;
  }

  .display {
    color: var(--second-color);
    font-size: 25px;
    text-align: center;
  }

  .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
  }

  .tile {
    border: 1px solid var(--second-color);
    min-width: 94px;
    min-height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    cursor: pointer;
  }

  #icon {
    width: 56px;
    height: 28px;
    cursor: pointer;
    display: flex;
    position: relative;
    margin-top: 3px;
  }

  .indicator {
    width: 19px;
    height: 19px;
    margin-left: var(--res-left);
  }
  /*  .controls button {
    padding: 6px;
    border-radius: 6px;
    font-size: 12px;
  }*/
}
